.container{
    max-width: 1400px;
    margin: auto;
    background: #85cce6;
    overflow: auto;
}

.certificate{
    margin: 50px;
    border: 1px solid #ffffff;
    float: left;
    width: 570px;
    border-radius: 4%;
    background:#ffffff ;
}

.certificate img{
    width: 100%;
    height: auto;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.cer-name{
    padding: 15px;
    text-align: center;
}

.cer-desc{
    margin: 50px;
}

.cer-desc .label{
    font-weight: bold;
}

.cer-desc td{
    font-size: 20px;
}