/* ==================== IMPORT ====================================================================================== */
/* ========== bootstrap ========== */
@import "bootstrap-5.3.0/bootstrap.css";
@import "bootstrap-5.3.0/bootstrap.rtl.css";
@import "bootstrap-5.3.0/bootstrap-grid.css";
@import "bootstrap-5.3.0/bootstrap-grid.rtl.css";
@import "bootstrap-5.3.0/bootstrap-reboot.css";
@import "bootstrap-5.3.0/bootstrap-reboot.rtl.css";
@import "bootstrap-5.3.0/bootstrap-utilities.css";
@import "bootstrap-5.3.0/bootstrap-utilities.rtl.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/* ========== bootstrap ========== */

/* ========== font ========== */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); */
/* ========== font ========== */
/* ==================== IMPORT ====================================================================================== */



/* ==================== VARIABLE =====================================================================================*/
:root {
    --white: #FFFFFF;
    --white-sub: #e6f0ff;

    --grey: #828282;
    --grey-sub: #BDBDBD;

    --black: #333333;
    --shadow: #969696;
    
    --pink: #FF6262;
    --pink-btn-hover: #FF3333; /*dark 9%*/

    --pink-sub: #FFEFEF;
    --pink-sub-btn-hover: #FF6262; /*equal pink*/

    --orange: #FF8015;
    --orange-btn-hover: #FF7300; /*dark 4%*/

    --yellow: #FFC71C;
    --yellow-btn-hover: #ffbf00; /*dark 5%*/

    --teal: #17D0BC;
    --teal-btn-hover: #14B8A7; /*dark 5%*/

    /* --blue: #44BAF1; */
    --blue: #0d6efd;
    --blue-btn-hover: #12A8ED; /*dark 11%*/
}
/* ==================== VARIABLE =====================================================================================*/



/* ==================== BACKGROUND ================================================================================== */
.bg-white {
    background-color: var(--white);
}

.bg-white-sub {
    background-color: var(--white-sub);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grey-sub {
    background-color: var(--grey-sub);
}

.bg-black {
    background-color: var(--black);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-pink-sub {
    background-color: var(--pink-sub);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-blue {
    background-color: var(--blue);
}
/* ==================== BACKGROUND ================================================================================== */




/* ==================== TEXT ======================================================================================== */

/* ========== style ========== */
.txt-hover-lighter {}
.txt-hover-lighter:hover, .txt-lighter {
    font-weight: lighter;
}

.txt-hover-normal {}
.txt-hover-normal:hover, .txt-normal {
    font-weight: normal;
}

.txt-hover-bold {}
.txt-hover-bold:hover, .txt-bold {
    font-weight: bold;
}

.txt-hover-bolder {}
.txt-hover-bolder:hover, .txt-bolder {
    font-weight: bolder;
}

.txt-hover-italic {}
.txt-hover-italic:hover, .txt-italic {
    font-style: italic;
}

.txt-hover-underline {}
.txt-hover-underline:hover, .txt-underline {
    text-decoration: underline;
}

.txt-hover-overline {}
.txt-hover-overline:hover, .txt-overline {
    text-decoration: overline;
}

.txt-hover-underline-overline {}
.txt-hover-underline-overline:hover, .txt-underline-overline {
    text-decoration: underline overline;
}

.txt-hover-line-through {}
.txt-hover-line-through:hover, .txt-line-through {
    text-decoration: line-through;
}

.txt-hover-shadow {}
.txt-hover-shadow:hover, .txt-shadow {
    text-shadow: 1px 1px 0px var(--shadow);
}
/* ========== style ========== */

/* ========== color ========== */
.txt-hover-white {}
.txt-hover-white:hover, .txt-white {
    color: var(--white);}

.txt-hover-white-sub {}
.txt-hover-white-sub:hover, .txt-white-sub {
    color: var(--white-sub);
}

.txt-hover-grey {}
.txt-hover-grey:hover, .txt-grey {
    color: var(--grey);
}

.txt-hover-grey-sub {}
.txt-hover-grey-sub:hover, .txt-grey-sub {
    color: var(--grey-sub);
}

.txt-hover-black {}
.txt-hover-black:hover, .txt-black {
    color: var(--black);
}

.txt-hover-pink {}
.txt-hover-pink:hover, .txt-pink {
    color: var(--pink);
}

.txt-hover-pink-sub {}
.txt-hover-pink-sub:hover, .txt-pink-sub {
    color: var(--pink-sub);
}

.txt-hover-orange {}
.txt-hover-orange:hover, .txt-orange {
    color: var(--orange);
}

.txt-hover-yellow {}
.txt-hover-yellow:hover, .txt-yellow {
    color: var(--yellow);
}

.txt-hover-teal {}
.txt-hover-teal:hover, .txt-teal {
    color: var(--teal);
}

.txt-hover-blue {}
.txt-hover-blue:hover, .txt-blue {
    color: var(--blue);
}
/* ========== color ========== */

/* ========== size ========== */
.txt-smxx {
    font-size: xx-small;
}

.txt-smx {
    font-size: x-small;
}

.txt-smr {
    font-size: smaller;
}

.txt-sm {
    font-size: small;
}

.txt-md {
    font-size: medium;
}

.txt-lg {
    font-size: large;
}

.txt-lgr {
    font-size: larger;
}

.txt-lgx {
    font-size: x-large;
}

.txt-lgxx {
    font-size: xx-large;
}
/* ========== size ========== */
/* ==================== TEXT ======================================================================================== */