<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.0/bootstrap.css}" href="../static/css/bootstrap-5.3.0/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <script th:src="@{/js/jquery/jquery-3.6.3.js}" src="../static/js/jquery/jquery-3.6.3.js"></script>
    <script th:src="@{/js/bootstrap-5.3.0/bootstrap.js}" src="../static/js/bootstrap-5.3.0/bootstrap.js"></script>
</head>
<body class="container-fluid bg-white-sub">
    <!-- ================================================== Header ===================================================== -->
    <div class="row bg-white sticky-top border-bottom border-primary mb-3">
        <!-- Logo -->
        <div class="col-1 d-flex align-items-center p-0"> 
            <a href="index.html" class="text-center w-100">
                <img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="logo" class="w-50 h-auto rounded-circle border border-primary mx-auto">
            </a>
        </div>

        <!-- Menu -->
        <div class="col-11 txt-normal">
            <div class="row row-cols-md-2 row-cols-sm-1 d-flex align-items-center h-100">
                <!-- Home, Course, Promotion -->
                <div class="col">
                    <div class="row row-cols-3">
                        <div class="col border-start border-primary border-end border-primary ">
                            <a href="index.html" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-house-door"></i>
                                &nbsp; Home
                            </a>
                        </div>
                        <div class="col border-start border-primary border-end border-primary">
                            <a href="course.html" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-book"></i>
                                &nbsp; Course
                            </a>
                        </div>
                        <div class="col border-start border-primary border-end border-primary">
                            <a href="promotion.html" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-graph-up"></i>
                                &nbsp; Promotion
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Material, News, Login -->
                <div class="col">
                    <div class="row row-cols-3">
                        <div class="col border-start border-primary border-end border-primary">
                            <a href="material.html" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-box-seam"></i>
                                &nbsp; Material
                            </a>
                        </div>
                        <div class="col border-start border-primary border-end border-primary">
                            <a href="news.html" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-file-text"></i>
                                &nbsp; News
                            </a>
                        </div>
                        <div class="col border-start border-primary border-end border-primary">
                            <a href="login.html" th:href="@{/login}" class="text-decoration-none txt-black txt-hover-blue">
                                <i class="bi-person"></i>
                                &nbsp; Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================================================== Header ===================================================== -->



    <!-- ================================================== Breadcrumb ================================================= -->
    <div class="row bg-white border border-primary rounded-3 mx-2 mb-3">
        <div class="col">
            <p class="txt-black txt-bold txt-sm my-2">
                <a href="index.html" class="text-decoration-none txt-black txt-hover-blue">
                    <i class="bi-house-door"></i>&nbsp; Home
                </a>
            </p>
        </div>
    </div>
    <!-- ================================================== Breadcrumb ================================================= -->



    <!-- ================================================== Main Body ================================================== -->
    <div class="row bg-white border border-primary rounded-3 mx-2 mb-3">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <!-- ================================================== Main Body ================================================== -->



    <!-- ================================================== Footer ===================================================== -->
    <div class="row bg-white sticky-bottom border-top border-primary">
        <br>
        <br>
        <br>
    </div>
    <!-- ================================================== Footer ===================================================== -->
</body>
</html>